/* Global CSS */

nav {
    background-color: #cdf6ed;
    padding-inline: 10px;
    padding: 30px;
    color:#453932;
    text-decoration: dotted underline;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 26px;
}

body {
    background-color: #fafaf9;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button {
   padding: 10px;
  border: 3px solid #cdf6ed;
  cursor: pointer;
  border-radius: 8%;
    height: 180px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    margin: 8px;
  
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666666;
  transform: translateY(4px); }

h1 {
font-family: 'Kanit', sans-serif;
font-weight: 500;
font-size: 26px;
color:#58483e;

}

h3, h4 {
font-family: 'Kanit', sans-serif;
font-weight: 400;
font-size: 22px;
color:#58483e;
}

p, em {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color:#453932;
}
/* Use <strong></strong> tags for bold text */
strong {
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color:#453932;
}

a {
    color:#159E68;
    text-decoration: dotted underline;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

a:hover {
    cursor:pointer;
    text-decoration: underline overline;
    color:#f4ab8d;
}

a:active {
    text-decoration: underline overline;
    background-color:#f4ab8d;
    color:#fafaf9;
}

a:visited {
    text-decoration:line-through;
    color:#58483e;
}
